{% if navbar %}
  <nav>
    <div class="nav-wrapper blue darken-2 z-depth-4">
      <a href="/" class="brand-logo center">Advance RPS-7!</a>
      <ul id="nav-mobile">
        <li class="left"><a href="/main_menu">Main Menu</a></li>

        {% if navbar.userId %}
          <li class="right"><a href="/showdata">{{ navbar.userName }}</a></li>
          <li class="right"><a href="/sign_out">Sign Out</a></li>
        {% else %}
          <li class="right"><a href="/playerSignIn">Sign-In</a></li>
        {% endif %}

      </ul>
    </div>
  </nav>
{% endif %}
