{% if message %}
<div class="row">
  <div class="col s6 offset-s3">
    <div class="card-panel {{ message.color }} darken-1">
      <div class="card-content white-text">
        <span class="card-title center">{{ message.text }}</span>
      </div>
    </div>
  </div>
</div>
{% endif %}
