<!DOCTYPE html>
<html>
  <head>
    {% include './includes/header.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
      <img id="home_image" src='/img/home_image.png' class='animated pulse'>
      <br><br><br>

      {% include '/includes/message.html.twig'%}
      <h1>About Super Rock Paper Scissors Fight! </h1>
      <h3> About This Project</h3>
      <p> Super Rock, Paper Scissors 7 was created, over the course of 4 days, as the final group project for the Level 2 PHP class at <a href="http://www.epicodus.com/">Epicodus</a> coding school in Portland, Oregon.</p>
      <h3> About RPS-7</h3>
      <p>
          The original idea for <a href="http://www.umop.com/rps7.htm">RPS-7</a> came from David C. Lovelace, who also created <a href="http://www.umop.com/rps.htm">RPS-9</a> through the mind-boggling <a href="http://www.umop.com/rps101.htm">RPS-101</a>, along with many other <a href="http://www.umop.com/games.htm">cool games</a>.
      </p>
      <h3> About Team JAM'N</h3>
      <img class="faces"  src="img/Joe.svg">
      <p>
           <strong class="letter">J</strong> is for <strong>Joe</strong>: --<em> <br>he knows all the things and wants you to start working on the Javascript Homework, like, yesterday</em>--
      </p>
      <img class="faces" src="img/Aundra.svg">
      <p>
           <strong class="letter">A</strong> is for <strong>Aundra</strong>: --<em><br>she is one tough coder, and has the haircut to match</em>--
      </p>
      <img class="faces" src="img/Michael.svg">
      <p>
           <strong class="letter">M</strong> is for Michael</strong>: --<em><br>with Illustrator wizards like him, who needs CSS students to help us</em>--
      </p>
        <h1>'</h1>
      <p>
          <img class="faces" src=""> <strong>'</strong> is for <strong>apostrophe</strong>: --<em>which is NOT allowed to go into the database by itself</em>--
      </p>
      <img class="faces" src="img/Nic.svg">
      <p>
           <strong class="letter">N</strong> is for <strong>Nic</strong>: <em><br>who has been listening to "Hamilton: the Musical" far too much; "The code-word is Rochambeau... "</em>
      </p>
      {% if menu %}
          {% if navbar.userId %}
              <a href="/main_menu_select" class="btn btn-info center">Player Vs. Computer</a>
              <br>
              <br>
              <a href="/main_menu" class="btn btn-info center disabled">Player Vs. Player</a>
              <br>
              <br>
              <a href="/showdata" class="btn btn-info center">{{ navbar.userName }} Stats</a>
              <br>
              <br>
              <a href="/sign_out" class="btn btn-info center">Sign Out</a>
          {% else %}
            <a href="/sign_in" class="btn btn-info center">Sign-In</a>
          {% endif %}
      {% else %}
        <a href="/main_menu" class="btn btn-info center">Main Menu</a>
      {% endif %}
    </div>

  </body>
</html>
