<!DOCTYPE html>
<html>
  <head>
    {% include './includes/header.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
      <img id="home_image" src='/img/logo.png'>
      <h1 class='center'>Pick a Play Mode</h1>

      {% include '/includes/message.html.twig'%}

      {% if menu %}
        <a href="/pVc_match?win=1 " class="menu_btn btn center">All or Nothing</a>
        <br>
        <a href="/pVc_match?win=2 " class="menu_btn btn center">Best of 3</a>
        <br>
        <a href="/pVc_match?win=3" class="menu_btn btn center">Best of 5</a>
        <br>
        <a href="/pVc_match?win=4" class="menu_btn btn center">Best of 7</a>
        <br>
        <a href="/pVc_match?win=37" class="menu_btn btn center">IronPerson - Best of 73</a>
        <br>
        <a href="/pVc_free_play" class="menu_btn btn center">Free Play</a>
        <br>
        <a href="/main_menu" class="menu_btn btn center">Main Menu</a>
      {% else %}
        <a href="/main_menu" class="menu_btn btn center">Main Menu</a>
      {% endif %}
    </div>
  </body>
</html>
