<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title>Super Rock Paper Scissors Fight!</title>
    </head>
    <body>
        <div class="container">
            <h1>Game Round</h1>

        </div>
    </body>
</html>
