<!DOCTYPE html>
<html>
    <head>
        {% include './includes/header.html.twig' %}
    </head>
    <body>
        {% if player1['score'] >= match['win_number'] or player2['score'] >= match['win_number'] %}
            {% set matchEnded = true %}
        {% endif %}

        {% include '/includes/navbar.html.twig' %}

        <div class="container">


          <h1>Game Round</h1>
          <hr>

          <div class="row">

            <div class="col s5">
              <h4>{{player1['name']}}</h4>
              <h4>Score: {{player1['score']}}</h4>
            </div>

            <div class="col s5 offset-s2">
              <h4>{{player2['name']}}</h4>
              <h4>Score: {{player2['score']}}</h4>
            </div>

          </div>

          <br>
          {% include '/includes/winner_message.html.twig'%}
          <br>
          {% if match['win_number'] == -1 %}
          <a href="/play_pVc/rock" class="btn-floating btn-large waves-effect waves-light grey"><i class="material-icons">Ro</i>Rock</a>
          <a href="/play_pVc/paper" class="btn-floating btn-large waves-effect waves-light black"><i class="material-icons">Pa</i>Paper</a>
          <a href="/play_pVc/scissors" class="btn-floating btn-large waves-effect waves-light purple"><i class="material-icons">Sc</i>Scissors</a>
          <a href="/play_pVc/air" class="btn-floating btn-large waves-effect waves-light blue lighten-2"><i class="material-icons">Ai</i>Air</a>
          <a href="/play_pVc/fire" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">Fi</i>Fire</a>
          <a href="/play_pVc/water" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">Wa</i>Water</a>
          <a href="/play_pVc/sponge" class="btn-floating btn-large waves-effect waves-light yello"><i class="material-icons">Sp</i>Sponge</a>
          {% else %}
          <a href="/match/play_pVc/rock" class="btn-floating btn-large waves-effect waves-light grey"><i class="material-icons">Ro</i>Rock</a>
          <a href="/match/play_pVc/paper" class="btn-floating btn-large waves-effect waves-light black"><i class="material-icons">Pa</i>Paper</a>
          <a href="/match/play_pVc/scissors" class="btn-floating btn-large waves-effect waves-light purple"><i class="material-icons">Sc</i>Scissors</a>
          <a href="/match/play_pVc/air" class="btn-floating btn-large waves-effect waves-light blue lighten-2"><i class="material-icons">Ai</i>Air</a>
          <a href="/match/play_pVc/fire" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">Fi</i>Fire</a>
          <a href="/match/play_pVc/water" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">Wa</i>Water</a>
          <a href="/match/play_pVc/sponge" class="btn-floating btn-large waves-effect waves-light yello"><i class="material-icons">Sp</i>Sponge</a>
          {% endif %}
        </div>
    </body>
</html>
