<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title>Super Rock Paper Scissors Fight!</title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Super Rock Paper Scissors Fight!</h1>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <h2>Player 1</h2>

            </div>
            <div class="col-sm-2">
                <button>Go
                    Play</button>
            </div>
            <div class="col-sm 5">
                <h2>Player 2</h2>

            </div>
        </div>
    </body>
</html>
