<!DOCTYPE html>
<html>
  <head>
    {% include './includes/header.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
      <img id="home_image" src='/img/home_image.png' class='animated tada'>
      <br><br><br>

      {% include '/includes/message.html.twig'%}

      {% if menu %}
          {% if navbar.userId %}
              <a href="/main_menu_select" class="menu_btn btn center">Game Modes</a>
              <br>
              <a href="/showdata" class="menu_btn btn center">Player Stats</a>
              <br>
              <a href="/rules" class="menu_btn btn center">Rules</a>
              <br>
              <a href="/about" class="menu_btn btn center">About</a>
              <br>
              <a href="/sign_out" class="menu_btn btn center">Sign Out</a>
              <br>
          {% else %}
              <a href="/sign_in" class="menu_btn btn center">Sign-In</a>
          {% endif %}
      {% else %}
        {% if not navbar.userId %}
          <a href="/sign_in" class="menu_btn btn center">Sign-In</a>
        {% else %}
          <a href="/main_menu" class="menu_btn btn center">Main Menu</a>
        {% endif %}
      {% endif %}
    </div>
  </body>
</html>
