<!DOCTYPE html>
<html>
  <head>
    {% include './includes/header.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
      <h1 class='center'>Advanced RPS-7</h1>

      {% include '/includes/message.html.twig'%}

      {% if menu %}
        <a href="/main_menu" class="btn btn-info center">Player Vs. Computer</a>
        <br>
        <br>
        <a href="/main_menu" class="btn btn-info center">Player Vs. Player</a>
        <br>
        <br>
        <a href="/main_menu" class="btn btn-info center">{{ navbar.userName }} Stats</a>
        <br>
        <br>
        <a href="/sign_out" class="btn btn-info center">Sign Out</a>
      {% else %}
        <a href="/main_menu" class="btn btn-info center">Main Menu</a>
      {% endif %}
    </div>
  </body>
</html>
