<!DOCTYPE html>
<html>
    <head>
        {% include './includes/header.html.twig' %}
    </head>
    <body>
<h1>TEST LOOK</h1>
<h2> Top Ten Winners</h2>
<ol>
    {% for rank in top10 %}
    <li>{{rank}}</li>
    {% endfor %}
</ol>

<h2> Top Ten Match Winners</h2>
<ol>
    {% for rank in top_match %}
    <li>{{rank}}</li>
    {% endfor %}
</ol>

<h2> Top Ten Game Winners by percentage</h2>
<ol>
    {% for rank in win_percent %}
    <li>{{rank}}</li>
    {% endfor %}
</ol>

<h2> Top Ten Match Winners by percentage</h2>
<ol>
    {% for rank in match_percent %}
    <li>{{rank}}</li>
    {% endfor %}
</ol>
    </body>
</html>
