<!DOCTYPE html>
<html>
    <head>
        {% include './includes/header.html.twig' %}
    </head>
    <body>
        {% if player1['score'] >= match['match_type'] or player2['score'] >= match['match_type'] %}
            {% set matchEnded = true %}
        {% endif %}

        {% include '/includes/navbar.html.twig' %}

        <div class="container">
          <h1>Game Round</h1>
          <hr>
          <div class="row">

            <div class="col s5">
              <h4>{{player1['name']}}</h4>
              <h4>Score: {{player1['score']}}</h4>
            </div>

            <div class="col s5 offset-s2">
              <h4>{{player2['name']}}</h4>
              <h4>Score: {{player2['score']}}</h4>
            </div>

          </div>

          <br>
          {% include '/includes/winner_message.html.twig'%}
          <br>
            <form class="" action="/play_pVc" method="post">
                <div id="player_one_options">
                    <label for="p1_selection">Player One Hand</label>
                    <button id = "p1_rock" class="btn-floating btn-large waves-effect waves-light grey" type="button">Rock</button>

                    <button id = "p1_paper"class="btn-floating btn-large waves-effect waves-light black" type="button">Paper</button>

                    <button id = "p1_scissors" class="btn-floating btn-large waves-effect waves-light purple" type="button">Scissors</button>

                    <button id = "p1_air" class="btn-floating btn-large waves-effect waves-light blue lighten-2" type="button">Air</button>

                    <button id = "p1_fire" class="btn-floating btn-large waves-effect waves-light red" type="button">Fire</button>

                    <button id = "p1_water" class="btn-floating btn-large waves-effect waves-light blue" type="button">Water</button>

                    <button id = "p1_sponge" class="btn-floating btn-large waves-effect waves-light yello" type="button">Sponge</button>
                    <input id="p1_hiddenInput" type="hidden" name="p1_selection" value="">
                </div>

                <div id="player_two_options">
                    <label for="p2_selection">Player Two Hand</label>
                    <button id = "p2_rock" class="btn-floating btn-large waves-effect waves-light grey" type="button">Rock</button>

                    <button id = "p2_paper"class="btn-floating btn-large waves-effect waves-light black" type="button">Paper</button>

                    <button id = "p2_scissors" class="btn-floating btn-large waves-effect waves-light purple" type="button">Scissors</button>

                    <button id = "p2_air" class="btn-floating btn-large waves-effect waves-light blue lighten-2" type="button">Air</button>

                    <button id = "p2_fire" class="btn-floating btn-large waves-effect waves-light red" type="button">Fire</button>

                    <button id = "p2_water" class="btn-floating btn-large waves-effect waves-light blue" type="button">Water</button>

                    <button id = "p2_sponge" class="btn-floating btn-large waves-effect waves-light yello" type="button">Sponge</button>
                    <input id="p2_hiddenInput" type="hidden" name="p2_selection" value="">
                </div>
                <button id="pVpSubmit" type="submit" name="button">Shoot!</button>
            </form>


        </div>
    </body>
</html>
