<!DOCTYPE html>
<html>
  <head>
    {% include './includes/header.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
      <img id="home_image" src='/img/home_image.png' class='animated pulse'>
      <br><br><br>

      <h1>Rules of  RPS-7</h1>
      <p>You've probably played <em>regular</em> <a href="https://en.wikipedia.org/wiki/Rock-paper-scissors" target="_blank">Rock, Paper, Scissors</a> before. RPS-7 was created by David C. Lovelace (creator of many new RPS variatons) in an effort to spice up this classic game with more exciting options.</p>
       <img id="cycle_img" src="img/cycle.png" title="The Code Word is RoShamBo">
      <ul>
          <li><span class="rock-text">Rock</span>: beats Fire, Scissors, and Sponge.</li>
          <li><span class="fire-text">Fire</span>: beats Scissors, Sponge, and Paper.</li>
          <li><span class="scissors-text">Scissors</span>: beats Sponge, Paper, and Air.</li>
          <li><span class="sponge-text">Sponge</span>: beats Paper, Air, and Water.</li>
          <li><span class="paper-text">Paper</span>: beats Air, Water, and Rock.</li>
          <li><span class="air-text">Air</span>: beats Water, Rock, and Fire.</li>
          <li><span class="water-text">Water</span>: beats Rock, Fire, and Scissors.</li>
      </ul>

      <h4>Gameplay Options</h4>
      <h5>Free Play</h5>
        <p>In Free Play mode, you can play an unlimited number of rounds against your computer opponent. Each round is logged to calculate your statistics.</p>
      <h5>Match Play</h5>
      <p>In Match Play Mode, you play a set number of games against a computer opponent. Each round is logged in your all-time statistics. In addition the Winner of the Match is logged. If you exit a Match early, you will be disqualified and incur a loss. </p>
      <p>Match types include:</p>
          <ul>
              <li>Best of 3:  First one to win 2 rounds.</li>
              <li>Best of 5:  First one to win 3 rounds.</li>
              <li>Best of 7:  First one to win 4 rounds.</li>
              <li>All or Nothing: One round, and the winner takes the match.</li>
              <li>Iron Person: A Best of 73 Slug-fest - First one to win 37 rounds!</li>
              <li>Free Play: Play an unlimited number of rounds.</li>
          </ul>
      <h4> Create an Account</h4>
          <p>To create an account, simply enter a player name and password. Password entries are optional, and usernames must be unique.</p>
          <p>Creating an account allows you to access your cumulative statistics.</p>
          <p>Creating a Password gives you a small level of protection to prevent others from pretending to be you and wrecking all your stats. <em class="warning">NOTE: Passwords are not secure, Do NOT use a real password.</em> </p>

      <h5> OR</h5>
      <h4>Sign In</h4>
        <p>If you already have an account, log-in with your player name (and password, if you created one).</p>

      <h4>Statistics and Leaderboard</h4>
      <p>While you are logged in you can see your all your round statistics -- Wins, Losses, Ties -- as well as your match statistics.  In addition, you can get a breakdown of the choices you've made.</p>
    </div>
  </body>
</html>
