<html>
  <head>
    {% include './includes/header.html.twig' %}
    {% include './includes/googleChart.html.twig' %}
  </head>

  <body>
    {% include '/includes/navbar.html.twig' %}
      <h1 class="center">{{ player1.name }}</h1>
      <!--Div that will hold the column chart-->
      <div id="chart_div"></div>
      <h1 class="center">The Computer</h1>
      <!--Div that will hold the column chart-->
      <div id="chart_div2"></div>
  </body>
</html>
