<!DOCTYPE html>
<html>
    <head>
        {% include './includes/header.html.twig' %}
    </head>
    <body>
        {% include '/includes/navbar.html.twig' %}
{% if message == 1 %}
<h1> {{player1['name']}} wins the Match</h1>
{% elseif message == 2 %}
<h1> {{player2['name']}} wins the Match</h1>
{% endif %}
    </body>
</html>
