<!DOCTYPE html>
<html>
    <head>
        {% include './includes/header.html.twig' %}
    </head>
    <body>
        {% include '/includes/navbar.html.twig' %}
        <h1>{{ message }}</h1>
    </body>
</html>
