@font-face {
    font-family: 'yoshisst';
    src: url('/fonts/yoshisst.ttf');
}

img {
    height: 40px;
    width: auto;
}

body {
    text-align: center;
    background-image: url(/img/background.jpg);
    font-family: 'yoshisst';
}

.container {
    background-color: #dfbf9f;
    border: 50px solid transparent;
    padding: 35px;
    border-image-source: url(/img/test.svg);
    border-image-repeat: repeat;
    border-image-slice: 70;
}

.menu_btn {
  margin: 10px 10px;
}

div.inline {
    float:left;
}

.button_img {
    width: 100px;
    height: auto;
}
.rock_img {
    width: 120px;
    height: 120px;
    background-image:url(/img/button_rock.png);
}
.rock_img:hover {
    background-image:url(/img/button_rock_hand.png);
}
.paper_img {
    width: 120px;
    height: 120px;
    background-image:url(/img/button_paper.png);
}
.paper_img:hover {
    background-image:url(/img/button_paper_hand.png);
}
.scissors_img {
    width: 120px;
    height: 120px;
    background-image:url(/img/button_scissors.png);
}
.scissors_img:hover {
    background-image:url(/img/button_scissors_hand.png);
}
.fire_img {
    width: 120px;
    height: 120px;
    background-image:url(/img/button_fire.png);
}
.fire_img:hover {
    background-image:url(/img/button_fire_hand.png);
}
.water_img {
    width: 120px;
    height: 120px;
    background-image:url(/img/button_water.png);
}
.water_img:hover {
    background-image:url(/img/button_water_hand.png);
}
.air_img {
    width: 120px;
    height: 120px;
    background-image:url(/img/button_air.png);
}
.air_img:hover {
    background-image:url(/img/button_air_hand.png);
}
.sponge_img {
    width: 120px;
    height: 120px;
    background-image:url(/img/button_sponge.png);
}
.sponge_img:hover {
    background-image:url(/img/button_sponge_hand.png);
}

#home_image {
    width: 600px;
    height: auto;
}

nav {
  height: 50px;
}

#nav_image {
}

     /*Menu Styling*/
.menu_btn {
  margin: 10px 10px;
}
