@font-face {
    font-family: 'ArmWrestler';
    src: url('/fonts/ArmWrestler.ttf');
}

img {
    height: 40px;
    width: auto;
}

body {
    text-align: center;
    background-image: url(/img/background.jpg);
    font-family: 'ArmWrestler';
    font-size: 1.2em;
    background-color: #616161;
}

.container {
    background-color: #dfbf9f;
    border: 50px solid transparent;
    padding: 35px;
    border-image-source: url(/img/test.svg);
    border-image-repeat: repeat;
    border-image-slice: 70;
}

.btn, .card_coloring {
  background-color: #5D8050;
}
.btn:hover {
  background-color: #62B646;
}
.card-action > a {
  color: white !important;
}
.menu_btn {
  margin: 10px 10px;
}

div.inline {
    float:left;
}

.button_img {
    width: 100px;
    height: auto;
}
.rock_img {
    width: 120px;
    height: 120px;
    background-image:url(/img/button_rock.png);
}
.rock_img:hover {
    background-image:url(/img/button_rock_hand.png);
}
.paper_img {
    width: 120px;
    height: 120px;
    background-image:url(/img/button_paper.png);
}
.paper_img:hover {
    background-image:url(/img/button_paper_hand.png);
}
.scissors_img {
    width: 120px;
    height: 120px;
    background-image:url(/img/button_scissors.png);
}
.scissors_img:hover {
    background-image:url(/img/button_scissors_hand.png);
}
.fire_img {
    width: 120px;
    height: 120px;
    background-image:url(/img/button_fire.png);
}
.fire_img:hover {
    background-image:url(/img/button_fire_hand.png);
}
.water_img {
    width: 120px;
    height: 120px;
    background-image:url(/img/button_water.png);
}
.water_img:hover {
    background-image:url(/img/button_water_hand.png);
}
.air_img {
    width: 120px;
    height: 120px;
    background-image:url(/img/button_air.png);
}
.air_img:hover {
    background-image:url(/img/button_air_hand.png);
}
.sponge_img {
    width: 120px;
    height: 120px;
    background-image:url(/img/button_sponge.png);
}
.sponge_img:hover {
    background-image:url(/img/button_sponge_hand.png);
}

#home_image {
    width: 600px;
    height: auto;
}
#cycle_img {
    width:500px;
    height: auto;
}

nav {
  height: 50px;
}

#nav_image {
  margin-top: 10px;
}

     /*Menu Styling*/
.menu_btn {
  margin: 10px 10px;
}

#leaderboard {
    padding-bottom: 45px;
    border-bottom: 4px black solid;
}

.leaderboard-section {
    padding: 1.5%;
}

div.leaderboard-section > ol > li {
    text-align: left;
    font-size: 1.2em;
    padding: 5px;
}

#container {
  width: 502px;
  height: 512px;
  position: relative;
  margin: auto;
 }
 .container {
   width: 90%;
 }
.field {
   position: absolute;
 }

nav a {
  font-size: 1.2rem !important;
}
 nav .nav-wrapper {
   height: 120%;
 }


.faces {
     width: 100px;
     height: auto;
 }

 .letter{
     color: #4CAF50;
     font-size: 40px;
 }
